*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.corpo_dados{
    background-image: url(175889.jpg);
}
.cabecalho{
    position: fixed;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
}
.info{
    position: fixed;
    right: 40px;
    top:8px;
}
.botao_cliente{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #00000008;
    color:white;
    user-select: none;
    transition: 2s; 
}
.kit{
    display: none;
    position:absolute;
    top: 40px;
    right: 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 70px;
    background-color: #00000008;
    transition: background 2s;
    transition: 2s;
}
.kit:hover{
    background-color: aqua;
    font-size: 30px;
}
.a{
    text-decoration: none;
}

.a:hover{
    color:black;
}
.a:visited{
    color:black;
}
.a:active{
    color:black;
}

.botao_cliente:hover{
    color:red;
    font-size: 20px;
}
.hzin{
    text-align: center;
}
.pezinho{
    top:70%;
    left: 30%;
    font-size: 25px;
    text-align: center;
}

.elefantinho{
    width: 150px;
    float: right;
}
.elefantinho2{
    width: 150px;
}
.div_tabela{
    margin-top: 80px;
    margin-left: 50px;
    background-color: #00000010;
}
.table{
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-radius: 20px;
}
.tero{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero2{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero3{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero4{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero5{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero6{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero7{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero8{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero9{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero10{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero11{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero12{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero13{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.tero14{
    border-bottom: solid 2px black;
}

.toro{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.toro2{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro3{
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.toro4{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro5{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro6{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro7{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro8{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro9{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro10{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro11{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro12{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
.toro13{
    border-right: solid 2px black;
    padding-right: 10px;
    border-bottom: solid 2px black;
}
